@font-face {
  font-family: 'CustomFont';
  src: url('../../assets/font/DungGeunMo.woff') format('woff2'),
  url('../../assets/font/DungGeunMo.woff') format('woff')
  /* 다양한 포맷의 폰트 파일을 지정 */
}



.mypage-body2 {
  font-family: 'CustomFont', sans-serif;
  width: 90%;
  height: 93%;
  margin: auto;
  border: 2px solid rgb(235, 230, 230);
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 1px rgb(192, 189, 189);
}

.emoji-shop {
  margin-top: 5vh;
  display: flex;
  /* border: 2px solid red; */
  /* justify-content: space-around; */
}

.emoji-title1 {
  width: 28vw;
  margin-left: 3vw;
  font-size: 3vw;
  font-weight: 550;
  /* border: 2px solid red; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.emoji-title2 {
  width: 54vw;
  margin-top: 1.9vh;
  text-align: right;
  /* margin-left: 54vw; */
  font-size: 1.8vw;
  font-weight: 550;
  /* border: 2px solid red; */
  /* text-decoration-style: double; */
  /* text-decoration-line: underline; */
}

.emoji-body {
  margin-top: 2vh;
  margin-left: 2.5vw;
  width: 85vw;
  height: 58vh;
  display: flex;
  /* border: 4px solid #f3e6d7; */
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.emoji-left {
  margin-left: 3vw;
  width: 26vw;
  height: 55vh;
  /* border: 2px solid black; */
  /* border-radius: 10px; */

}

.emoji-video {
  margin: auto;
  margin-top: 5vh;
  width: 22vw;
  /* height: 23vh; */
  /* border: 2px solid black; */
}

.emoji-img {
  /* margin-top: 2vh;
  margin-left: 1vw; */
  width: 7vw;
  height: 8vh;
  /* border: 2px solid rgb(214, 133, 10); */
  line-height: 4vh;
}
.emoji-shop-img{
  margin-left: 3vw;
  margin-right: 2vw;
  height: 4.5vh;
  /* width: 11vw; */
}

/* .emoji-info {
  border: 2px solid palegreen;
} */

.emoji-id {
  /* margin-top: 2vh;
  margin-left: 1vw; */
  font-size: 1.5vw;
}

.emoji-price {
  /* margin-top: 2vh;
  margin-left: 1vw; */
  font-size: 1.5vw;
}

.emoji-right {
  margin-left: 2vw;
  display: flex;
  width: 54vw;
  height: 55vh;
  /* border: 2px solid black; */
  
}
.Storetitle{
  height: 9vh;
  position: absolute;
  top: 31vh;
  left: 42vw;
}
.emojicomp {
  margin: 4vh 2vw;
  width: 46vw;
  height: 30vh;
  /* border: 2px solid black; */
}

.outputImage {
  border: 3px solid rgb(71, 71, 71);
}

.emojishop-bar {
  margin-top: 8vh ;
  margin-left: 2.5vw;
  width: 50vw;
  height: 39vh;
  /* background-color: #E6C6AD; */
  /* border: 14px ridge rgb(226, 174, 96); */
  /* border: 12px dashed #e6caab; */

  border: 10px solid rgb(126, 77, 22, 0.8);
  /* border: 18px ridge rgba(163, 88, 3, 0.4); */
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23F1AF75FF' stroke-width='21' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 17px; */
  /* border-style: solid;
  border-width: 12px;
  border-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 3px,
    rgb(126, 77, 22,0.5) 40px,
    #f3d1ab 1px
  );
  border-image-slice: 1; */
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='19' ry='19' stroke='%23AB4E08FF' stroke-width='25' stroke-dasharray='16%2c 12%2c 24%2c 14' stroke-dashoffset='7' stroke-linecap='butt'/%3e%3c/svg%3e"); */
  border-radius: 19px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.select-emoji {
  /* display: flex; */
  width: 25vw;
  height: 12vh;
  /* border: 5px solid rgb(123, 122, 122); */
  display: flex;
  justify-content: center;
}

.shop-openimg {
  margin: -0.3vh 11vw;
  height: 10vh;
}
.pick-emoji {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3.5vh 0 0 1vw;
  width: 17vw;
  height: 12vh;
  border-bottom: 5px solid transparent; /* 초기에는 투명한 경계선으로 설정 */
  border-radius: 3px;
  cursor: pointer; /* 클릭 가능한 요소로 설정 */
  transition: border-bottom 0.4s ease-in-out; /* 효과적인 애니메이션을 위해 transition 추가 */
}

.pick-emoji:hover {
  border-bottom: 5px solid rgba(235, 174, 84, 0.5); /* 마우스 오버 시 지그재그 효과 적용 */
}

.select-button{
  display: flex;
}
.selected-emoji {
  text-align: center;
  font-size: 15px;
  margin-left: 1vw;
  /* width: 5vw; */
  height: 8vh;
  /* border: 5px solid rgb(183, 183, 177); */
}

.emoji-size {
  margin-right: 1vw;
  width: 8vw;
  height: 8vw;
  text-transform: uppercase;
  transition: all 0.4s ease;
  transform-origin: center; /* 중심을 기준으로 크기를 조절 */
}


.emoji-size:hover, .emoji-size:focus, .emoji-size:active {
  transform: scale(1.1); /* 크기를 90%로 축소 */
}

.sellect-btn {
  line-height: 5vh;
  margin-top: 4vh;
  margin-left: 2vw;
  text-align: center;
  width: 9vw;
  height: 5vh;
  border: 2px solid rgb(235, 230, 230);
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(192, 189, 189);
  text-transform: uppercase;
  transition:all .2s ease;
  font-size: 1.5vw;
  font-weight: 700;
}

.btnpos {
  margin-left: 63vw;
}

.sellect-btn:hover, .sellect-btn:focus, .sellect-btn:active {
  background-color:#e6ecf1 ;
  color: #282a2b;
}

.money-img1 {
  margin-left: 0.5vw;
  width: 1.2vw;
}
.money-img2 {
  margin-left: 0.5vw;
  width: 1vw;
}