/* .LimitTime {
    font-family: 'CustomFont', sans-serif;
}

.card-head {
    color: "#e6e6fa"; 
    font-family: 'CustomFont', sans-serif;
}

.text-center {
    font-family: 'CustomFont', sans-serif;
} */