

.picto-imgs {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7vw;
    left: 37vw;
    width: 30vw;
    height: 30vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 100;
    transition: width 0.5s ease, height 0.5s ease;
}

.picto-img {
    border: 3px solid black;
    width: 25vw;
    height: 25vw;
    /* background-color: rgb(230, 41, 41); */
    border-radius: 50%;
    /* z-index: 100; */
    transition: width 0.5s ease, height 0.5s ease;
}

.success-img{
    position: absolute;
    top: 7vw;
    left: 37vw;
    width: 30vw;
    height: 30vw;
}

.fail-img{
    position: absolute;
    top: 7vw;
    left: 37vw;
    width: 30vw;
    height: 30vw;
}