@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&subset=latin-ext');


@font-face {
    font-family: 'CustomFont';
    src: url('../../assets/font/DungGeunMo.woff') format('woff2'),
    url('../../assets/font/DungGeunMo.woff') format('woff')
    /* 다양한 포맷의 폰트 파일을 지정 */
  }
  
.gamepage {
    background-color: #FEFCF5;
    height: 100%;
    width: 100%;
    font-family: 'CustomFont', sans-serif;
}
.game-header {
    height: 6vh;
}

.Logo1 {
    font-size:24px;
    color: #FD873E;
}

.Logo2 {
    font-size: 30px;
    color: #FD7F32;
    font-family: 'Righteous', cursive;
}

.game-mainscreenimg {
    /* background-image: url('../../assets/background/gamebackgound.png'); */
    /* top: 3vh; */
    /* background-color: #72f14b; */
    width: 100vw;
    height: 83vh;
    position: absolute;
    /* z-index: 0; */
}
.game-outputImage{
    height: 70vh;
    width: 50vw;
    /* border: 5px solid rgb(215, 245, 240); */
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.game-mainscreen {
    background-color: white;
    margin-top: 1.5vh;
    /* background-image: url('../../assets/background/gamebackgound.png'); */
    /* border: 10px solid red; */
    width: 100vw;
    
    /* margin-top: 1vh; */
    
    height: 83vh;
    /* height: 87vh; */
    border-radius: 20px;
}
.gamescreen {
    display:flex;
    width: 100vw;
    height: 83vh;
    /* border: 6px solid #FD7F32; */
    border: 6px solid rgb(253, 127, 50, 0.15);
    border-radius: 20px;
}
.game-logo {
    width: 16vw;
    /* border: 100px solid palegreen; */
    display: inline;
    background-image: 
        linear-gradient(to right, firebrick, darkorange);
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.gametitles {
    /* background-color: aquamarine;
    display:flex;
    justify-content: center; */
    text-align: center;
    width: 20vw;
    height: 20vh;
    margin: 4vh auto;
    /* border-left: 3px solid  rgb(255, 118, 117, 0.5);
    border-right: 3px solid  rgb(255, 118, 117, 0.5);
    border-radius: 10px; */
}

#video-container {
    width: 100%;
    height: 83vh;
    /* border: 5px solid black; */
}

.game-titlename {
    margin-top: 5vh;
    font-size: 3vw;
    font-weight: 550;
}

.game-titletag {
    font-size: 1.1vw;
    margin-top: 3vh;
    font-weight: 600;
}

.messagebtntag{
    position: flex;
    /* top: 50%; */
    /* left:50%; */
    width: 22vw;
    height: 82vh;
    /* border-right: 7px solid rgb(104, 104, 104); */
    /* border-right: 7px dashed rgb(104, 104, 104); */
    /* border-right: 2mm ridge rgb(253, 127, 50,0.5); */
    border-right: 2mm ridge rgb(253, 127, 50, 0.1);
    /* border-right: 2mm ridge rgba(112, 112, 112, 0.6); */
    /* border-radius: 5px; */
}

.messagebtn {
    /* margin-top: 45vh; */
    margin-top: 62vh;
    margin-left: 2vw;
    width:6vw;
    height: 6vw;
    border-radius: 3vw;
}

.blockingmodal {
    position: absolute;
    top: 2.3vh;
    width: 75vw;
    height: 81vh;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    line-height: 81vh;
}

.mainvideo {
    width: 81vw;
    height: 83vh;
    /* border: 3px solid red; */
}

.footer {
    height: 5vh;
}

.timer {
    position:relative;
    top: 75vh;
    left: 58vw;
    width: 150px;
    height: 150px;
    /* background-color: blue; */
}

#game-main-videos {
    /* position: relative; */
    display: flex;
    align-items: center;
    width: 60vw;
    height: 79vh;
    /* border: 5px solid rgb(182, 21, 182); */
    
}

#game-main-video {
    /* margin-top: 3vh;
    margin-left: 1vw; */
    width: 92vh;
    /* margin:  3vh auto; */

    margin-top: 3vh;
    /* height: auto; */
    /* height: 70vh; */
    margin-left :5vw;
    /* border: 20px solid salmon; */
}

/* #main-videocss{
    border :5px solid red;

} */
#sub-videos {
    margin: 6vh 2vw;
    width: 13vw;
    /* margin: 0 0 0 3vw; */
    height: 64vh;
    /* border: 5px solid salmon; */
    /* flex: 1 0 50%; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
}

.blockingmodal-text {
    font-size: 4vh;
}

.sublist {
    font-size: 1.8vw;
    font-weight: 5500;
    text-shadow: rgb(123, 122, 122) 1px 1px;
    color: #4b4a49;
    /* width: 10vw;
    height: 5vh;
    border: 3px solid black; */
    /* z-index: 10000; */
}
#sub-titlebox1 {
    

    width: 13vw;
    height: 5vh;
    /* background-color: #FD7F32; */
    background: linear-gradient(#FEC986,white);
    border-radius: 15px 15px 0 0;
    /* border: 2px solid black; */
}
#sub-titlebox2 {
    

    width: 13vw;
    height: 16vh;
    /* background-color: #FD7F32; */
    background: linear-gradient(#4175f9,white);
    border-radius: 15px 15px 0 0;
    /* border: 2px solid black; */
}

#sub-video2 {

    width: 13vw;
    height: 16vh;
    border: 4px solid rgb(81, 80, 80);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
}

#session-header {
    margin-left: 60vw;
    margin-top: 14vh;
}

.streamcomponent {
    width: 13vw;
    height: 16vh;
}
/* .gameloader {
    position: absolute;
    top: 90%;
    left: 5%;
} */

.btn-back2 {
    position: absolute;
    right: 5vw;
    bottom: 1vh;;
    text-align: center;
    width: 10vw;
    height: 7vh;
    border: 2px solid rgb(235, 230, 230);
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(192, 189, 189);
    text-transform: uppercase;
    transition:all .2s ease;
    font-weight: 700;
}

.streamcomponent {
    position: relative;
}

.gameenmodal {
    z-index: 1000;
}
.sub-name {
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 2vh;
    height: 1vh;
    width: 4vw;

}